@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar style */
.navbar{
  font-family: 'Poppins',serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px grey;
  --webkit-box-shadow: 0px 8px 6px -6px grey;
  border-bottom: 0.3px solid gray !important;
}
.nav-link{
  font-weight: 300 !important;
}
.nav-link:active{
  border-bottom: 2px solid black;
}
.navbar-brand{
  font-weight: 700;
  font-family: "roboto",sans-serif;
  letter-spacing: 3px;
}

/* footer */
.footer{
  color: white;
  padding: 25px;
  background: #000000; /*fallback for old browser */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
  background: linear-gradient(to right,#434343,#000000);
}
.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}